@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

body {
  font-family: Outfit !important;
  background-attachment: scroll !important;
}

input,
select,
textarea,
button {
  outline: 0;
}

a,
button,
img,
select {
  cursor: pointer;
}

/********** TAILWIND THEME AND UTILITIES **********/
@theme {
  /** Breakpoints **/
  --breakpoint-sm: 450px;
  --breakpoint-md: 750px;
  --breakpoint-lg: 1000px;
  --breakpoint-xl: 1200px;
  --breakpoint-max: 1250px;

  /** Widths **/
  --max-width-screen-max: 1200px;

  /** Fonts **/
  --font-outfit: "Outfit", sans-serif;

  /** Colors **/
  --color-green: #013941;
  --color-grey-1: #f2f2f2;
  --color-grey-2: #828282;
  --color-grey-3: #e0e0e0;
  --color-grey-4: #f7f7f7;
  --color-grey-5: #f5f5f5;
  --color-black: #000e10;
  --color-white-2: #e6fbf2;
  --color-pastel-green: #ccf6e5;
}
