@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

body {
  font-family: Outfit !important;
  background-attachment: scroll !important;
}

input,
select,
textarea,
button {
  outline: 0;
}

a,
button,
img,
select {
  cursor: pointer;
}

/********** TAILWIND THEME AND UTILITIES **********/
@theme {
  /** Breakpoints **/
  --breakpoint-sm: 450px;
  --breakpoint-md: 750px;
  --breakpoint-lg: 1000px;
  --breakpoint-xl: 1200px;
  --breakpoint-max: 1250px;

  /** Widths **/
  --max-width-screen-max: 1200px;

  /** Fonts **/
  --font-quicksand: "Outfit", sans-serif;

  /** Colors **/
  --color-teal: #008080;
}
